<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Test_Classes.TC01_Wiki"/>
      <class name="Test_Classes.TC02_IMDB"/>
      <class name="Test_Classes.TC03_Compare_Deatails_of_IMBD_Wiki"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
